<div class="home">
    <h1>Lista de divulgações pendente pela administração do Condomínio:</h1>
    <div class="lista">
        {{#each divulgacoes}}
            {{#unless this.validado}}
            <table>
                <thead>
                    <th>categoria:</th>
                    <th>Título:</th>
                    <th>Descrição:</th>
                    <th>Usuário</th>
                    <th>Apartamento</th>
                    <th>Validar</th>
                    <th>Motivo(em caso não válido):</th>
                    <th>Ação:</th>
                </thead>
                <tr>
                    <td>{{this.categoria}}</td>
                    <td>{{this.titulo}}</td>
                    <td>{{this.descricao}}</td>
                    <td>{{this.User.nome}}</td>
                    <td>{{this.User.apartamento}} - {{this.User.bloco}}</td>
                    <form action="/divulgar/validar" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                        <td>
                            <select name="validado">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="motivo">
                        </td>
                        <td>
                            <button type="submit">Salvar</button>
                        </td>
                    </form>
                </tr>
            </table>
            {{/unless}}                   
        {{/each}}
        </div>
    </div>
</div>