<div class="home">
    <h1>Tratar reclamações</h1>
    <div class="lista">
        {{#each reclamacoes}}
        {{#if this.Verificada}}
            <table>
                <thead>
                    <th>Tipo de reclação</th>
                    <th class="maior">Descrição do ocorrido</th>
                    <th>reclamante:</th>
                    <th>Apartamento:</th>
                    <th>Data da reclamação</th>
                    <th>Data da solução</th>
                    <th class="maior">Solução tomada</th>
                </thead>
                <tr>
                    <td>{{this.tipoReclamacao}}</td>
                    <td>{{this.descricaoOcorrido}}</td>
                    <td>{{this.User.nome}}</td>
                    <td>{{this.User.apartamento}} - {{this.User.bloco}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>{{this.solucao}}</td>           
                </tr>
            </table>
        {{/if}}                 
        {{/each}}
        </div>
    </div>
</div>