<div class="home">
    <h1>Tratar reclamações</h1>
    <div class="lista">
        {{#each reclamacoes}}
        {{#unless this.Verificada}}
            <table>
                <thead>
                    <th>Tipo de reclação</th>
                    <th class="maior">Descrição do ocorrido</th>
                    <th>reclamante:</th>
                    <th>Apartamento:</th>
                    <th>Data de reclamação</th>
                    <th>Atender</th>
                    <th class="maior">Solução tomada</th>
                    <th>Executar</th>
                </thead>
                <tr>
                    <td>{{this.tipoReclamacao}}</td>
                    <td>{{this.descricaoOcorrido}}</td>
                    <td>{{this.User.nome}}</td>
                    <td>{{this.User.apartamento}} - {{this.User.bloco}}</td>
                    <td>{{this.createdAt}}</td>
                    <form action="/rec/atender" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <td><input type="checkbox" name="Verificada"></td>
                        <td>
                            <textarea name="solucao" cols="30" rows="5"></textarea>
                        </td>
                        <td><button type="submit">Executar</button></td>
                    </form>                    
                </tr>
            </table>
        {{/unless}}                 
        {{/each}}
        </div>
    </div>
</div>