<div class="home">
    <h1>Minhas Reclamações:</h1>
    <div class="lista">
        {{#each reclamacoes}}
            <h2>{{this.tipoReclamacao}}</h2>
            <p>{{this.descricaoOcorrido}}</p>
            {{#if this.Verificada}}
                <p class="verde">solicitação atendida</p>
                <p class="verde">Ação tomada: {{this.solucao}}</p>
            {{else}}
                <p class="vermelho">Aguardando atendimento</p>
                <p class="vermelho">Ação tomada: {{this.solucao}}</p>
            {{/if}}
            <div class="div-btn">
                    <form action="/rec/excluir" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit">Excluir</button>
                    </form>
                </div>
        {{/each}}
        </div>
    </div>
</div>